<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Empréstimo de Livros</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Empréstimo de Livros</h1>
    
    {% if mensagem %}
        <div class="mensagem">{{ mensagem }}</div>
    {% endif %}
    
    <form method="post">
        <label for="livro_id">Título do Livro:</label>
        <select name="livro_id" id="livro_id" required>
            <option value="">Selecione um livro</option>
            {% for livro in livros %}
                {% if not livro.emprestado %}  <!-- Exibe apenas livros disponíveis -->
                    <option value="{{ loop.index0 }}">{{ livro.titulo }}</option>  <!-- Usando o índice para o ID -->
                {% endif %}
            {% endfor %}
        </select><br>

        <label for="usuario">Usuário:</label>
        <input type="text" name="usuario" id="usuario" placeholder="Nome do Usuário" required><br>

        <input type="submit" value="Emprestar">
    </form>
    
    <a href="{{ url_for('index') }}">Voltar para a página inicial</a>
</body>
</html>
