<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">


<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Empréstimo de Livros</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Empréstimo de Livros</h1>
    <form method="post">
        <label>ID do Livro: <input type="text" name="livro_id" required></label><br>
        <label>Usuário: <input type="text" name="usuario" required></label><br>
        <input type="submit" value="Emprestar">
    </form>
    <a href="{{ url_for('index') }}">Voltar para a página inicial</a>
</body>
</html>




